/*
картинки-заглушки
https://via.placeholder.com/150x100
*/

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    min-height: 100%;
}

.page-body {
    min-height: 100%;
    font-size: 18px;
    font-family: Geometria, Arial, Helvetica, sans-serif;
    background-color: #2c7580;
    color: #ccc;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.game {
    position: relative;
    margin: 50px auto;
    width: 1366px;
    height: 1366px;
    background-image: url("../img/bg_state_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

.win-message {
    position: absolute;
    top: 400px;
    left: 430px;
    display: grid;
    place-items: center;
    width: 250px;
    height: 100px;
    background: white;
    color: black;
    border-radius: 30px;
    font-size: 25px;
    z-index: 3;
}

.button-panel {
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 630px;
    justify-content: space-between;
    z-index: 2;
}

.row-items {
    position: absolute;
    left: 160px;
    display: flex;
    gap: 0 10px;
}

.row-items-bed {
    left: initial;
    right: 160px;
}

.button {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background-image: url("../img/panel/box.png");
    background-repeat: no-repeat;
    background-position: center;
}

.button-wallpaper,
.button-bad {
    position: absolute;
}

.button-wallpaper {
    left: 0;
}

.button-bad {
    right: 0;
}

.button-items.is-active {
    box-shadow: 0 0 20px gold;
}

/* кровати */
.bed {
    display: none;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-70%, -60%);
}

.bed.is-active {
    display: block;
}

/* обои */
.wallpaper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.wallpaper.is-active {
    display: block;
}

/* bob */
.bob {
    display: none;
    position: absolute;
    top: 35%;
    left: 8%;
    z-index: 1;
    transform: scale(0.5);
}

.bob.is-active {
    display: block;
}

button[disabled] {
    filter: grayscale(1);
    color: gray;
    cursor: not-allowed;
}